.mb2Rem {
  margin-bottom: 2rem;
}

.ml05Rem {
  margin-left: 0.5rem;
}

.ml15Rem {
  margin-left: 1.5rem;
}

.btn-mae-space {
  padding-top: 40px;
}

.btn-con {
  display: flex;
  justify-content: center;
}

.btn-con-right {
  display: flex;
  justify-content: flex-start;
  padding: 0 40px 0;
}

.btn-con-item {
  margin: 0 10px 20px;
}

.textbox {
  text-align: left;
}
.textbox p {
  font-size: 16px;
  line-height: 1.6;
  padding-bottom: 1.6em;
}
.textbox p.pb00 {
  padding-bottom: 0;
}
.textbox p.pb05em {
  padding-bottom: 0.5em;
}
.textbox p.ookime {
  font-size: 1.1em;
}
.textbox p.kakomi {
  display: inline-block;
  width: auto;
  height: auto;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  outline: none;
  padding: 12px 30px 10px;
  border-radius: 17px;
  background-color: #dddddd;
  line-height: 1;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
  font-weight: bold;
  color: #333333;
}
.textbox p.indent {
  margin: 0 0 0 1em !important;
  text-indent: -1em;
}
.textbox p a {
  color: blue;
  text-decoration: underline;
}

h3.m_midashi {
  font-size: x-large;
  font-weight: bold;
  line-height: 1.2;
  padding-bottom: 0.8em;
}

.mb30_kotei {
  margin-bottom: 30px;
}

.mb60 {
  margin-bottom: 60px;
}

.block-about {
  padding-top: 40px;
}

@media screen and (max-width: 640px) {
  .btn-mae-space {
    padding-top: 20px;
  }
  .btn-con {
    flex-direction: column;
  }
  .btn-con-right {
    justify-content: center;
    flex-direction: column;
  }
  .btn-con-item {
    margin: 0 auto 20px;
  }
  div.btn-con-item a.school-top-btn {
    margin: 20px auto 0;
  }
  div.btn-con-item:last-child a.school-top-btn {
    margin: 20px auto 20px;
  }
  h3.m_midashi {
    font-size: 1.5em;
  }
  .textbox p {
    font-size: 16px;
  }
  .textbox p.ookime {
    font-size: 1.1em;
  }
  .mb60 {
    margin-bottom: 30px;
  }
  .block-about {
    padding-top: 20px;
  }
}
.breadcrumb .pathway li:before {
  margin-right: 4px;
}

.fas_button_radius {
  border: none;
  padding: 0 20px;
  height: 40px;
  line-height: 1;
  background: #403999;
  color: #fff;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin: 1em auto 1em;
  display: block;
}
.fas_button_radius:hover {
  background: #342f7d;
}
.fas_button_radius a {
  color: #fff;
}
.fas_button_radius:after {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-weight: 900;
  content: "\f138";
  margin-left: 7px;
}

.bold {
  font-weight: bold;
}

.yellow-marker {
  background: linear-gradient(transparent 30%, #ff6 60%);
  padding: 0 7px 0;
}

.pink-marker {
  background: linear-gradient(transparent 30%, #ffbebe 60%);
  padding: 0 7px 0;
}

.green-marker {
  background: linear-gradient(transparent 30%, #88ff99 60%);
  padding: 0 0 0;
}

.orange-marker {
  background: linear-gradient(transparent 30%, #ffc76f 60%);
  padding: 0 0 0;
}

.blue-marker {
  background: linear-gradient(transparent 30%, rgb(162, 191, 255) 60%);
  padding: 0 7px 0;
}

.chirashi_yokonarabi {
  display: flex;
  justify-content: space-between;
}

.chirashi_yokonarabi_item1 {
  width: 52%;
  border-right: 1px #cccccc solid;
}

.chirashi_yokonarabi_item2 {
  width: 45%;
}

.sawaodContentArea p a.tdN {
  text-decoration: none;
}

.areaContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1fr;
}
.areaContainer li a {
  color: #00f;
  font-weight: bold;
}

.decemberContentArea {
  position: relative;
}
.decemberContentArea .diamondIcon {
  position: absolute;
}
.decemberContentArea a {
  padding: 0 1rem 0 1.5rem;
  display: block;
}

.zoomContentArea li a {
  color: #00f;
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .chirashi_yokonarabi {
    flex-direction: column;
  }
  .chirashi_yokonarabi_item1 {
    width: 100%;
    border: none;
  }
  .chirashi_yokonarabi_item2 {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */