@charset "UTF-8";
#mapAreaA {
  z-index: 1;
}

#mapAreaB {
  z-index: 0;
}

#access_btn {
  z-index: -1;
}

.mb2Rem {
  margin-bottom: 2rem;
}

.mb4Rem {
  margin-bottom: 4rem;
}

section.mb-2rm {
  margin-bottom: 2rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.position-unset {
  position: unset;
}

.d-block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.section-wrapper {
  margin-bottom: 4rem;
}

.main-visual {
  margin-bottom: 2rem;
}

.title-heading {
  position: relative;
  padding: 1.5rem;
  text-align: center;
  border: 2px solid #000;
  background: #fff;
}
.title-heading i {
  font-size: 20px !important;
  font-size: 2rem !important;
}
.title-heading span {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  z-index: 1;
}

.title-heading_kind {
  font-weight: bold;
  color: #f26763;
  position: relative;
}
.title-heading_kind::after {
  content: "";
  width: 100%;
  height: 0.5rem;
  display: block;
  position: absolute;
  top: 2.1rem;
  left: 0;
  right: 0;
  background: #f9f001;
  z-index: -1;
}

.title-heading:before, .title-heading:after {
  content: "";
  position: absolute;
}
.title-heading:before {
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border: 2px solid #000;
  border-radius: 50%;
  background: #fff;
}
.title-heading:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
.title-heading i {
  font-size: 30px;
  font-size: 3rem;
  line-height: 60px;
  position: absolute;
  z-index: 1;
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 60px;
  text-align: center;
}

.section-heading {
  position: relative;
  color: #eb6363;
  font-size: 2rem;
  border-bottom: 2px solid #eb6363;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.section-description {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.arrow-icon {
  display: block;
}
.arrow-icon:after {
  content: "";
  width: 1rem;
  height: 1rem;
  border-top: 0.4rem solid #029fc2;
  border-right: 0.4rem solid #029fc2;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 46%;
  right: 2.5rem;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
}

/* list */
.list-container {
  position: relative;
}

ol.mv-list-design {
  padding: 15px 0.5rem 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mv-list-design li {
  width: 95%;
  margin: 0 auto;
}
.mv-list-design .fa-solid {
  margin-right: 0.5rem;
}
.mv-list-design li .list-item {
  font-size: clamp(0.5rem, 0.917rem + 0.28vw, 1.125rem);
}
.mv-list-design .fa-icon2,
.mv-list-design .fa-icon2_wrap {
  width: 100%;
}

.list-design {
  background: #f8f4eb;
  border: 2px dashed #deda99;
  border-radius: 10px;
  box-shadow: 0 0 0px 10px #f8f4eb;
  margin: 20px 0 0;
  padding: 15px 20px 20px 35px;
  position: relative;
}
.list-design li {
  margin-top: 10px;
}
.list-design li::marker {
  display: none !important;
}

.heading-line {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 2px;
  background-color: #f6b45f;
}

.heading-text {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #f6b45f;
}

.list-item {
  font-weight: bold;
  font-size: 1.2rem;
}

.text-circle {
  position: absolute;
  bottom: 2.2rem;
  right: 4rem;
  border-radius: 50%;
  background: #212121;
  padding: 2.25rem 2.5rem;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  font-weight: bold;
  transform: rotate(-10deg);
}

/* table */
.price-table {
  width: 100%;
  border-collapse: collapse;
}
.price-table th {
  background-color: #029fc2;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}
.price-table th span {
  font-size: 1rem;
}
.price-table td {
  background-color: #e8fbff;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
.price-table td span {
  font-size: 0.8rem;
  font-weight: bold;
}
.price-table td.course-name {
  font-weight: bold;
}

.lucky-message_img {
  width: 22%;
  display: block;
  box-sizing: border-box;
  position: absolute;
  bottom: -12rem;
  right: 0.5rem;
}
.lucky-message_img p {
  font-size: 0.8rem;
  font-weight: bold;
  color: #e61673;
  margin: 0 auto;
  width: 90%;
}
.lucky-message_img img {
  width: 65%;
  display: block;
  box-sizing: border-box;
  margin: 0.5rem auto 0;
}

.description-list dt {
  background-color: #029fc2;
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
}
.description-list dd {
  background-color: #e8fbff;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}
.description-list dd span {
  font-size: 0.8rem;
  color: #f26763;
  text-indent: -0.7rem;
}

/* introduce */
.section-heading .fa-video {
  margin-right: 10px;
}
.section-heading .important-txt {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 2rem;
  text-align: center;
  display: inline-block;
}

.period-group {
  display: block;
  justify-content: space-between;
  margin-bottom: 30px;
}

.period {
  display: block;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.period:last-child {
  margin-bottom: 0;
}

.period-title {
  font-size: 18px;
  font-weight: 700;
  color: #ff9800;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.period-title .fa-book-open,
.period-title .fa-capsules {
  margin-right: 10px;
}

.period-date {
  font-size: 16px;
  color: #777;
  display: flex;
  align-items: center;
}

.period-title .fa-calendar-alt {
  margin-right: 0.5rem;
  font-size: 1.35rem;
}

.period-date .fa-book-open {
  margin-right: 0.5rem;
}

.deadline {
  font-weight: 700;
  color: #f26763;
  margin-left: 1rem;
}

/* message */
.section-heading {
  text-align: left;
  color: #666;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.voice-messages .section-heading span {
  font-size: 1rem;
  margin-left: 0.5rem;
  display: inline-block;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.testimonial-card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.testimonial-image {
  height: 200px;
  overflow: hidden;
  background: #f89393;
}
.testimonial-image img {
  width: 60%;
  height: 100%;
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonial-text {
  padding: 1rem;
  color: #555;
  line-height: 1.5;
}
.testimonial-text p {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.8rem;
}
.testimonial-text p span {
  margin: 0.5rem 0.5rem 0 0;
  display: block;
  text-align: right;
}

.youtube-movie iframe {
  width: 100%;
  height: 25rem;
}

.fa-icon_item2 {
  flex-shrink: 0;
  width: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-icon_item2 i {
  line-height: 40px;
  font-size: 1.5em;
  color: #fff;
}

.fa-icon i:after {
  padding: 0;
  line-height: 40px;
}

.fa-icon2_wrap {
  background: #ffffff;
  width: 400px;
  margin: 0 auto 0 0;
}

.fa-icon2_wrap2 {
  background: #ffffff;
  width: 400px;
  margin: 0 auto 0;
}

.fa-icon2 {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
.fa-icon2:hover {
  opacity: 70%;
}

.fa-icon2_item1 {
  flex: 1;
  padding: 0 20px 0;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  line-height: 1.4;
  letter-spacing: 0.1em;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-icon2_item1.p_chousei {
  padding: 0 15px 0;
}

.fa-icon2_item2 {
  flex-shrink: 0;
  width: 80px;
  min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-icon2_item2 i {
  line-height: 80px;
  font-size: 3em;
  color: #fff;
}

.fa-icon2 i:after {
  pad: 0;
  line-height: 40px;
}

.pinkbtn1 {
  background: #f3b0d4 !important;
}

.pinkbtn2 {
  background: #b57f9c !important;
}

.lightbluebtn1 {
  background: #6eb0ff !important;
}

.lightbluebtn2 {
  background: #4978b1 !important;
}

.lightblue2btn1 {
  background: #50b2e3 !important;
}

.lightblue2btn2 {
  background: #359bce !important;
}

.lightblue3btn1 {
  background: #66ccff !important;
}

.lightblue3btn2 {
  background: #5db1db !important;
}

.darkbluebtn1 {
  background: #1d2088 !important;
}

.darkbluebtn2 {
  background: #131557 !important;
}

.lightgreenbtn1 {
  background: #59c98c !important;
}

.lightgreenbtn2 {
  background: #449167 !important;
}

.orangebtn1 {
  background: #f8a12d !important;
}

.orangebtn2 {
  background: #ba7b26 !important;
}

.orange2btn1 {
  background: #ff9966 !important;
}

.orange2btn2 {
  background: #db855a !important;
}

.orange3btn1 {
  background: #ff6600 !important;
}

.orange3btn2 {
  background: #e05a00 !important;
}

.yellowbtn1 {
  background: #ffcc00 !important;
}

.yellowbtn2 {
  background: #c6ad4a !important;
}

.yellowgreenbtn1 {
  background: #8fc31f !important;
}

.yellowgreenbtn2 {
  background: #6f961a !important;
}

.murasakibtn1 {
  background: #cc66ff !important;
}

.murasakibtn2 {
  background: #9a4fbf !important;
}

.murasaki2btn1 {
  background: #9933cc !important;
}

.murasaki2btn2 {
  background: #662189 !important;
}

.lightpinkbtn1 {
  background: #ff9999 !important;
}

.lightpinkbtn2 {
  background: #de8888 !important;
}

.lucky-flag_img {
  width: 40%;
  position: absolute;
  top: 2.5rem;
  right: 0;
}

.list-design .fa-solid {
  margin-right: 1rem;
  font-size: 1.5rem;
}

/* 見放題プラン */
.my-stylish-section {
  width: 100%;
  border: 5px solid #3d93d1;
  background: #ebf4ff;
  border-radius: 10px;
  padding: 2rem 1rem 0rem;
  margin: 0 0 4rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.my-stylish-section h3 {
  color: #3d93d1;
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.my-stylish-section p {
  font-weight: bold;
  line-height: 1.6;
  text-indent: 0;
  padding: 0 0 0 2.3rem;
  position: relative;
}
.my-stylish-section i.fa-book-open {
  color: #3d93d1;
  margin-right: 8px;
}
.my-stylish-section i.fa-info-circle {
  color: #3d93d1;
  margin-right: 8px;
}
.my-stylish-section i.fa-info-circle::before {
  font-size: 1.5rem;
}
.my-stylish-section i::before {
  margin-right: 0;
}
.my-stylish-section p:nth-child(2) i {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0.15rem;
}
.my-stylish-section div.cart-mainbutton {
  width: 70%;
  margin: 2rem auto 3rem;
}
.my-stylish-section div.cart-mainbutton a.fa-icon2 {
  width: 100%;
}

.border_Yellow {
  position: relative;
  z-index: 2;
}

.winter-course-header {
  background-color: #f1dfc7;
  padding: 40px;
  border-radius: 15px;
  max-width: 95%;
  margin: 30px auto 4rem;
  text-align: center;
  border: 2px dashed #90675b;
  box-shadow: 0 0 0px 10px #f1dfc7;
}

.main-title {
  font-size: 3em;
  font-weight: bold;
  color: #fff;
  padding: 1rem 0 0.5rem;
  margin-bottom: 1.75rem;
  background: #d7a562;
}

.sub-title {
  font-size: 2em;
  font-weight: bold;
  color: #795548;
  margin-bottom: 30px;
  font-style: italic;
}

.course-info {
  font-size: 1rem;
  line-height: 1.4;
  color: #333;
}
.course-info small {
  font-size: 0.9rem;
}

.location-info,
.zoom-courses {
  padding: 50px 20px;
}

.location-info,
.zoom-courses {
  background-color: #fff;
  border-radius: 10px;
  height: 20rem;
  font-size: 1.15rem;
  flex: 1;
  min-width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.area-info,
.zoom-courses > p {
  font-size: 1.1em;
  color: #795548;
  margin-bottom: 15px;
  font-weight: bold;
}

.location-list,
.zoom-courses ul {
  list-style-type: none;
  margin-bottom: 1rem;
  padding: 0 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.location-list li,
.zoom-courses li {
  background-color: #d7a562;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 0.9em;
  transition: all 0.3s ease;
}

.location-list li a {
  color: #fff;
}
.location-list li:hover {
  background-color: #eec58f;
  transform: translateY(-3px);
}

.zoom-courses li:hover {
  background-color: #eec58f;
  transform: translateY(-3px);
}

a.access_btn {
  background: #795548;
  color: #fff;
  font-weight: bold;
  padding: 1rem 3rem 1rem 1.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  position: relative;
}
a.access_btn::after {
  content: "\f358";
  font-family: FontAwesome, "Quicksand", "Avenir", "Arial", sans-serif;
  width: 2rem;
  height: 2.5rem;
  font-size: 1.75rem;
  display: block;
  position: absolute;
  top: 0;
  right: 0.95rem;
  bottom: 0;
  margin: auto;
}
a.access_btn:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.plus-icon {
  font-size: 2em;
  color: #0066cc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0;
  z-index: 1;
}

.access-section {
  margin-bottom: 4rem;
}
.access-section .section-heading .fa-map-marker-alt {
  margin-right: 1rem;
}
.access-section .venue-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.access-section .venue-item {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  transition: transform 0.3s ease;
}
.access-section .venue-item:hover {
  transform: translateY(-5px);
}
.access-section .venue-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #666;
  margin-bottom: 0.5rem;
}
.access-section .venue-location {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
  text-indent: -0.8rem;
  padding-left: 1.5rem;
}
.access-section .access-info {
  list-style-type: none;
  padding: 0;
}
.access-section .access-info li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: flex-start;
}

.fa-map {
  color: #0066cc;
  margin-right: 0.5rem;
  margin-top: 0.25rem;
}

.access-section .access-info i {
  color: #0066cc;
  margin-right: 0.5rem;
  margin-top: 0.25rem;
}
.access-section .note {
  font-size: 0.9rem;
  color: #666;
  margin-top: 0.5rem;
  font-style: italic;
  padding-left: 1rem;
}
.access-section .fa-map:before {
  content: "\f279";
  color: #0066cc;
}

.lecture-info {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}
.lecture-info .info-table {
  margin-bottom: 40px;
  overflow-x: auto;
  /* 横スクロールを可能にする */
}
.lecture-info .info-table table {
  width: 100%;
  min-width: 600px;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* title color */
.oomisoka-color .section-heading {
  border-bottom: 2px solid #6956a5;
}
.oomisoka-color .lecture-info .info-table th {
  background-color: #6956a5;
}
.oomisoka-color .lecture-info .info-details h3 {
  color: #6956a5;
  border-bottom: 2px solid #6956a5;
}

.syougatsu-color .section-heading {
  border-bottom: 2px solid #ea5e36;
}
.syougatsu-color .lecture-info .info-table th {
  background-color: #ea5e36;
}
.syougatsu-color .lecture-info .info-details h3 {
  color: #ea5e36;
  border-bottom: 2px solid #ea5e36;
}

.kokushitaisaku-color .section-heading {
  border-bottom: 2px solid #a96bad;
}
.kokushitaisaku-color .lecture-info .info-table th {
  background-color: #a96bad;
}
.kokushitaisaku-color .lecture-info .info-details h3 {
  color: #a96bad;
  border-bottom: 2px solid #a96bad;
}

.kokushiyosou-color .section-heading {
  border-bottom: 2px solid #f08d38;
}
.kokushiyosou-color .lecture-info .info-table th {
  background-color: #f08d38;
}
.kokushiyosou-color .lecture-info .info-details h3 {
  color: #f08d38;
  border-bottom: 2px solid #f08d38;
}

.lecture-info .info-table th,
.lecture-info .info-table td {
  padding: 15px 10px;
  text-align: left;
  vertical-align: middle;
}
.lecture-info .info-table th {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}

.info-table th:last-child {
  width: 10rem;
}

.lecture-info .info-table td {
  background-color: #ffffff;
  font-size: 1rem;
  border-right: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  white-space: normal;
  word-wrap: break-word;
}
.lecture-info .info-table td:first-of-type {
  border-left: 1px solid #f3f3f3;
}
.lecture-info .info-table th span {
  font-size: 0.9rem;
  font-weight: normal;
  display: block;
  /* 改行させる */
  margin-top: 5px;
}
.lecture-info .info-details ul {
  list-style-type: none;
  padding: 0;
}
.lecture-info .info-details li {
  background-color: #f3f3f3;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}
.lecture-info .info-details li:last-of-type {
  margin-bottom: 4rem;
}
.lecture-info .info-details h3 {
  color: #0056b3;
  margin-top: 0;
  font-size: 20px;
  border-bottom: 2px solid #0056b3;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.lecture-info .info-details p {
  margin: 10px 0;
  font-size: 1.25rem;
}
.lecture-info .info-details time {
  font-size: 1.25rem;
  display: inline-block;
}
.lecture-info .info-details span {
  display: inline-block;
  margin-top: 10px;
  margin-left: 1rem;
  font-size: 14px;
}

.sub-txt {
  width: 80%;
  margin: 0 auto 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background: #e91e63;
  border-radius: 11rem;
  padding: 15px;
  color: #fff;
}

.section-inner {
  content: "";
  display: block;
  padding-top: 120px;
  margin-top: -120px;
  z-index: -1;
}

.courses-grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto 1rem;
}
.courses-grid .fa-icon2_item1.p_chousei {
  font-weight: normal;
}
.courses-grid .fa-cart-shopping {
  margin-right: 1rem;
}

.course-item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 15px;
}
.course-item .fa-building {
  margin-right: 0.5rem;
}

.courseColorBlue {
  background: #eaf8ff;
}

.courseColorOrange {
  background: #fbf3e8;
}

.courseColorGreen {
  background: #eafff3;
}

.courseColorPurple {
  background: #f8e8fb;
}

.course-info {
  line-height: 1.4;
  color: #333;
}

.cart-button {
  text-align: center;
}

.blue .btn {
  background-color: #3498db;
}

.orange .btn {
  background-color: #e67e22;
}

/* sawa od button */
.sawa-od-container {
  font-family: "Noto Sans JP", sans-serif;
  padding: 30px 0;
  margin-top: 2rem;
}

.sawa-od-card {
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

a.sawa-od-link {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: inherit;
  text-decoration: none;
  overflow: hidden;
  place-content: center;
  place-items: center;
  transition: all 0.3s ease;
}

.sawa-od-link:hover .link-text .fa-caret-down {
  bottom: 20px;
  opacity: 0;
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.sawa-od-content {
  padding: 3rem 2rem 3rem 5rem;
  width: 100%;
  background: #0066cc;
  color: #ffffff;
  transition: background-color 1s linear;
}

.sawa-od-link:hover .sawa-od-content {
  background: linear-gradient(135deg, #2980b9, #3498db);
  transition: background-color 1s linear;
}

.sawa-od-title {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.sawa-od-description {
  font-size: 16px;
  margin: 0;
  opacity: 0.9;
}

.link-text {
  display: block;
  background-color: #fff;
  color: #2980b9;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  padding: 1.25rem 1rem;
  width: 100%;
  height: 100%;
  line-height: 6.5rem;
}
.link-text .fa-caret-down {
  display: block;
  font-size: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2.5rem;
  top: auto;
  margin: auto;
}

.mihoudaiContent {
  display: block;
  z-index: 2;
}
.mihoudaiContent a {
  color: #3425ff;
  font-weight: bold;
}

@media (max-width: 768px) {
  .main-visual {
    margin-bottom: 1.5rem;
  }
  .section-wrapper {
    margin-bottom: 3rem;
  }
  .voice-messages .section-heading span {
    margin-left: 0;
  }
  .container-wrapper {
    padding: 1rem;
  }
  .section-heading {
    font-size: 1.5rem;
  }
  .description-list dd {
    display: inline-block;
  }
  .description-list dd span {
    margin-left: 0.7rem;
  }
  .title-heading {
    padding: 1.5rem 3rem;
  }
  .title-heading_kind::after {
    top: 1.5rem;
  }
  .title-heading span {
    font-size: 1.5rem;
  }
  .list-item {
    font-size: 1rem;
  }
  .testimonial-grid {
    grid-template-columns: 1fr;
  }
  ol.mv-list-design {
    display: block;
  }
  .list-design {
    padding: 15px 20px 20px;
  }
  .text-circle {
    width: 10.5rem;
    position: relative;
    bottom: 1rem;
    top: -1.7rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
    background: #333;
    padding: 1.7rem 1.2rem;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
    transform: rotate(-20deg);
  }
  .testimonial-image img {
    width: 50%;
    height: auto;
    margin: 1rem auto;
  }
  .description-list span {
    display: inline-block;
  }
  .youtube-movie iframe {
    height: 10rem;
  }
  section.my-stylish-section div.fa-icon2_wrap,
  .fa-icon2_wrap,
  a.fa-icon2 {
    width: 100%;
  }
  .period {
    margin-bottom: 1rem;
  }
  .period:last-child {
    margin-bottom: 0;
  }
  .period-date {
    display: block;
  }
  .period-title {
    font-size: 1rem;
  }
  .period-date .fa-calendar-alt {
    margin-right: 0.5rem;
    font-size: 1.25rem;
  }
  .lucky-message_img {
    position: relative;
    top: 0;
    right: 0;
    width: 65%;
    margin: 0 auto;
  }
  .lucky-message_img p {
    color: #e93686;
    font-weight: bold;
    font-size: clamp(1rem, 4.5vw, 2rem);
    width: 100%;
    letter-spacing: 0.05rem;
  }
  .lucky-message_img img {
    width: 60%;
    display: block;
    box-sizing: border-box;
    margin: 0.5rem auto 0;
  }
  .deadline {
    font-weight: 700;
    color: #f26763;
    margin-left: 2rem;
    display: inline-block;
  }
  .section-wrapper .important-txt {
    color: #fff;
    font-size: 0.9rem;
    font-weight: normal;
    border-radius: 2rem;
    background: #f26763;
    text-align: center;
    width: 100%;
    padding: 0.5rem 0;
    margin: -1rem auto 1.25rem;
    display: block;
    position: unset;
  }
  .section-heading .important-txt {
    color: #fff;
    font-size: 0.9rem;
    font-weight: normal;
    border-radius: 2rem;
    background: #f26763;
    text-align: center;
    width: 52%;
    padding: 0.5rem 0;
    display: inline-block;
    position: absolute;
    top: -0.2rem;
    left: 10rem;
  }
  .lucky-flag_img {
    width: 70%;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .location-info {
    padding: 1.25rem 1rem 1rem;
  }
  a.access_btn {
    font-size: 1rem;
    border-radius: 3rem;
    width: 100%;
  }
  a.access_btn::after {
    height: 2.75rem;
    font-size: 2rem;
    right: 1rem;
  }
  /* 見放題プラン */
  .my-stylish-section {
    width: 100%;
  }
  .my-stylish-section h3 {
    text-indent: -1.2rem;
    padding-left: 2.35rem;
  }
  .my-stylish-section .fa-icon2_item1.p_chousei {
    text-indent: -0.8rem;
    padding: 0 0 0 2rem;
  }
  .my-stylish-section .fa-icon2_item1.p_chousei i {
    margin-right: 1rem;
  }
  .winter-course-header {
    padding: 2rem 1rem;
  }
  .course-info {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
  .plus-icon {
    margin: 20px 0;
  }
  .location-list,
  .zoom-courses ul {
    width: 100%;
    padding: 0;
    margin-bottom: 1.5rem;
  }
  .access-section .venue-list {
    grid-template-columns: 1fr;
  }
  .access-section .section-heading {
    font-size: 1.5rem;
  }
  .access-section .venue-name {
    font-size: 1.3rem;
  }
  .info-table-box th,
  .info-table-box tr,
  .info-table-box td {
    display: block;
  }
  .info-table-box tr {
    display: table-row;
  }
  .info-table-box th,
  .info-table-box td {
    display: table-cell;
  }
  .lecture-info .section-title {
    font-size: 24px;
  }
  .lecture-info .info-table th {
    padding: 10px;
    font-size: 1rem;
    vertical-align: middle;
  }
  .info-table td {
    padding: 10px;
    font-size: 1rem;
    vertical-align: middle;
  }
  .lecture-info .info-details h3 {
    font-size: 18px;
  }
  .lecture-info .info-details p {
    font-size: 14px;
  }
  .lecture-info .info-details span {
    font-size: 14px;
    margin-left: 0;
  }
  .sub-txt {
    font-size: 1rem;
    width: 100%;
  }
  .section-inner {
    padding-top: 70px;
    margin-top: -70px;
  }
  .course-item {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .cart-button {
    text-align: left;
  }
  /* sawa od button */
  .sawa-od-container {
    margin-top: 0;
    padding: 2rem 0.5rem;
  }
  a.sawa-od-link {
    display: block;
  }
  .sawa-od-content {
    padding: 3rem 2rem 3rem 3rem;
    text-align: center;
  }
  .sawa-od-title {
    font-size: 1.4rem;
  }
  .sawa-od-description {
    font-size: 1rem;
  }
  .link-text {
    font-size: 1.25rem;
    padding: 0.5rem 1rem 2rem;
  }
}
.relative {
  position: relative;
}

.question-box {
  width: 100%;
  padding: 2rem;
  background-color: #f7f7f7;
  border: 1px solid #dddddd;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  position: relative;
  margin-bottom: 50px;
}

.question {
  border: 1px solid #ddd;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding-bottom: 1rem;
  position: relative;
}
.question:nth-child(even) h3 {
  background: #f17b9e;
  padding: 1rem 4.7rem 1rem 1rem;
}
.question:nth-child(odd)::after {
  content: "";
  margin: auto;
  position: absolute;
  top: 5rem;
  bottom: 0;
  right: -1.35rem;
  width: 15px;
  height: 15px;
  border-top: 5px solid #666666;
  border-right: 5px solid #666666;
  transform: rotate(45deg);
}
.question:nth-child(even)::after {
  content: "";
  width: 5.5rem;
  height: 5.5rem;
  display: block;
  background: url(https://stg.sawa-wp.sawakenweb.com/wpcms/wp-content/uploads/arrow_icon02.png) no-repeat;
  background-size: 5.5rem;
  position: absolute;
  top: 0;
  right: -0.5rem;
  z-index: 1;
}
.question li span {
  color: #f17b9e;
}

.testcontents .container h1 {
  text-align: center;
  color: #008080;
  font-size: 36px;
  margin-bottom: 30px;
  grid-column: 1/-1;
  /* Span across all columns */
}

.question-header {
  color: #008080;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.question-box h3 {
  color: #fff;
  font-size: 1.05rem;
  font-weight: bold;
  padding: 1rem;
  background: #029fc2;
  border-radius: 1rem 1rem 0 0;
}
.question-box p {
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 1rem 1.5rem;
}
.question-box ol {
  font-weight: bold;
  padding-left: 20px;
}
.question-box li {
  margin-bottom: 10px;
  font-size: 1rem;
  text-indent: -1.2rem;
  padding: 0 1rem;
  line-height: 1.5;
  color: #555555;
}

@media (max-width: 768px) {
  .question-box {
    display: block;
    padding: 1.5rem 1rem;
  }
  .question {
    margin-bottom: 4rem;
    height: -moz-fit-content;
    height: fit-content;
  }
  .question:last-of-type {
    margin-bottom: 0;
  }
  .question::after {
    display: none;
  }
  .question ol {
    position: relative;
  }
  .question:nth-child(odd) ol::after {
    content: "";
    margin: auto;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    bottom: -4rem;
    right: 50%;
    display: block;
    border-right: 5px solid #666;
    border-top: 5px solid #666;
    transform: rotate(135deg);
  }
}/*# sourceMappingURL=17_touki_sikoku.css.map */